

#film_div{
    position:relative;
    left:35%;
    bottom:500px;
    background:#dee2e6c9;
    height:750px;
    width:1100px;
}
#film_name{
    font-size:4em;
}
#poster{
    position:relative;
    top:150px;
}
.main_info{
    position:relative;
    left:80px;
    top:10px;
}
#film_description{
    position:relative;
    bottom:400px;
}
#descr{
    position:relative;
    top:40px;
    left:10px;
}