*{
    margin:0;
    padding:0;
}
body{
    background:url("https://img.freepik.com/free-vector/cinema-background-design_1294-87.jpg?w=2000") no-repeat;
    background-size: 100% 1400px;



}
#header-text{
    color:red;
    font-size:6em;
    text-shadow:3px 2px 1px black;
}
#navigation{
    float:right;
    position:relative;
    bottom:30px;
}
.nav-buttons{
    font-size:1.5em;
    position:relative;
    bottom:20px;
    border:none;
    box-shadow:1px 1px 1px 1px black;
    border-radius:4px;
    margin-left:7px;
    background:#B5BFBA;
    transition-duration:2s;
    float:right;
}
.nav-buttons:hover{
    box-shadow:2px 2px 2px 1px black;
    border:1px solid black;
    background:#898989;
}
#header{
    box-shadow: 2px 2px 3px 1px grey;
    background:#f7dc6fa6;
    height:150px;
}
#kino_search{
    text-align:center;
    position:relative;
    top:10px;

}
#search-button{
    background:none;
    border:none;
    position:relative;
    right:40px;
    font-size:1.5em;
}
#search-input{
    font-size:1.5em;
    border-radius:10px;
    border:none;
}
#search_a{
    text-decoration:none;
}
#header_a{
    text-decoration:none;
    color:red;

}
